.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #eee;
  cursor: pointer;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 1px red;
  box-sizing: border-box;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.cyan {
  background-color: cyan;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.teal {
  background-color: teal;
}

.color-hidden {
  background-color: #eee;
}